@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&family=Montserrat:wght@300&display=swap');


:root{
    --color-primario-blanco:#fff;
    --color-secundario-negro:#000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100%;
    height: 100vh;
    background: url(/img/titulo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

/*---header*/
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 15%;
}
.logo{
    color: var(--color-primario-blanco);
    font-size: 30px;
    font-weight: 700;
    font-family: 'Komikula';
}
.logo img{
    vertical-align: middle;
    margin-right: 6px;
    font-size: 40px;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    margin: 0 5px;
    color: #f5f5f5;
    transition: all .45s ease;
    border-radius: 5px;
}
.navbar a:hover{
    background: var(--color-primario-blanco);
    color: var(--color-secundario-negro);
}
#menu-icon{
    font-size: 30px;
    z-index: 10001;
    color: var(--color-secundario-negro);
    cursor: pointer;
    display: none;
}
.header-btn a{
    padding: 10px 20px;
    color: var(--color-secundario-negro);
    font-size: 15px;
    font-weight: 600;
}
.header-btn .in{
    background: #f5f5f5;
    color: #292a44;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .50s ease;
}
/*-----contenido-----*/
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('img/5442676.jpg') ;
    background-position: center;
    background-size:cover;
}
form{
    position: relative;
    width: 696px;
    height: 358px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h2{
    margin-bottom: 1%;
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 28%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px;
    font-size: .8em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.forget label input{
    margin-right: 3px;
}
.forget label a{
    color: #fff;
    text-decoration: none;
    font-size:.9em;
    padding-left: 50px;
}
.forget label a:hover{
    text-decoration: underline;
}

#caja3 div{
    text-align: center;
    width: 25%;
    height: 40px;
    border-radius: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
}
#caja3 div:hover{
    background: #fff;
    color: darkslategrey;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
.register a {
    padding-left: 5px;
}
#caja2{
    height: 276px;
}
#in{height: 18px;}
#caja3{
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.form-box{
    display: flex;
    flex-direction: column;
}
.inputboxC{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputboxC label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.inputboxC input{
    width: 109%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputboxC ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
#fechaNac{
    color: #fff;
}
@media (min-width: 320px) and (max-width: 440px) {
 form{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
 }
 form{
    position: relative;
    width: 300px;
    height: 530px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
input{
    position: relative;
    margin: 2px 0;
    border-bottom: 2px solid #fff;
}
.inputbox{
    position: relative;
    margin: 2px 0;
    width: 270px;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
}
.inputboxC{
    position: relative;
    margin: 2px 0;
    width: 270px;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
}
#caja3 div{
    text-align: center;
    width: 40%;
    height: 40px;
    border-radius: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
}
#caja3 div{
    background: #fff;
    color: darkslategrey;
}
#caja1{
    margin-top: 20px;
}
}
/*---- Idiomas----*/

.globo{
    margin-left: 20px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: #c9c0c0;
}
.dropdown-content a:hover {
    background-color: #fff;
    color: #000
}
/*--- responsive ---*/
@media (max-width: 1530px ){
    header{
        padding: 18px 3%;
        transition: .2s;
    }
}
@media (max-width: 1070px ){
    header{
        padding: 18px 3%;
        transition: .2s;
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: -800px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction:column;
        background: #1b1b1b;
        transition: all .50s ease;
        text-align: left;
    }
    .navbar a{
        display: block;
        padding: 1rem;
        margin: 0.8rem;
    }
    .navbar.open{
        top: 100%;
    }
    section .blog-cabecera{
        margin-top: 80px;
    }
    header .logo{
        font-size: 18px;
    }
    header img{
        font-size: 10px;
        margin-left: 5px;
    }
    header .globo{
        display: none;
    }
    header .header-btn{
            padding: 3px;
            color: var(--color-secundario-negro);
            font-size: 10px;
        }
    header .header-btn .in{
            border-radius: 10px;
            transition: all .50s ease;
        }
    }
    .footer-copyright p{
        font-size: 14px;
    }

@font-face {
    font-family: 'Komikula';
    src: url(/fonts/Komikula.otf);
}