@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

:root{
    --color-primario-blanco:#fff;
    --color-secundario-negro: #000;
    --color-icon-footer: #2f4f4f;
    --color-fondo-nav:#1b1b1b;
    --color-blanco-hueso: #f5f5f5;
    --color-letra-btn-login: #292a44;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100%;
    height: 100vh;
    background: url(../img/1564554750_a\ group\ of\ 5\ people\ standing\ in\ the\ mountains\,\ rea_512-v2-1.png) no-repeat;
    background-size: cover;
    background-position: center;
}
/*---------------------------Header-----------------------------------*/
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 15%;
}
.logo{
    color: var(--color-primario-blanco);
    font-size: 30px;
    font-weight: 700;
    font-family: 'Komikula';
}
.logo img{
    vertical-align: middle;
    margin-right: 6px;
    font-size: 40px;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    margin: 0 5px;
    color: var(--color-blanco-hueso);
    transition: all .45s ease;
    border-radius: 5px;
}
.navbar a:hover{
    background: var(--color-primario-blanco);
    color: var(--color-secundario-negro);
}
#menu-icon{
    font-size: 30px;
    z-index: 10001;
    color: var(--color-primario-blanco);
    cursor: pointer;
    display: none;
}
.header-btn a{
    padding: 10px 20px;
    color: var(--color-secundario-negro);
    font-size: 15px;
    font-weight: 600;
}
.header-btn .in{
    background: var(--color-blanco-hueso);
    color: var(--color-letra-btn-login);
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .50s ease;
}

/*--- responsive nav ---*/
@media (max-width: 1530px ){
    header{
        padding: 18px 3%;
        transition: .2s;
    }
}
@media (max-width: 1070px ){
    header{
        padding: 18px 3%;
        transition: .2s;
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: -800px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction:column;
        background: var(--color-fondo-nav);
        transition: all .50s ease;
        text-align: left;
    }
    .navbar a{
        display: block;
        padding: 1rem;
        margin: 0.8rem;
    }
    .navbar.open{
        top: 100%;
    }
    header .globo{
        display: none;
    }
    header #menu-icon{
        margin-left: 10px;
    }
}

@font-face {
    font-family: 'Komikula';
    src: url(fonts/Komikula.otf);
}

/*---------------------------Sessión Comprar-----------------------------------*/

#fondo{
    width: 100%;
    background-size: cover;
    position: relative;
    color: var(--color-primario-blanco);
    font-family: 'Poppins';
    align-items: center;
    justify-content: flex-start;
    padding-top: 102px;
    text-align: justify;
    
}
section>div{
    padding-left: 100px;
}
section>div>h1{
    font-size: 5.8em;
    color: #f5f5f5;
    padding-left: 1%;
    font-family: 'Roasted';
    font-weight: 100;
}
section>div p{
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    width: 40%;
    font-size: 1.1em;
    text-align: justify;
}
section>div>h2{
    margin-left: 200px;
    margin-top: -10px;
}
section>div>p{
    margin-left: 10px;
}
section>div>h5{
    margin-left: 50px;
    margin-bottom: 5px;
    margin-bottom: -20px;
}
section .iconosIn{
    margin-top: 10px;
    margin-left: 190px;
}
.boton{
    width: 42%;
    display: inline-block;
    display:flex;
    font-weight: bold;
    padding-top: 2.1%;
    margin-left: 15px;
}
.botones{
    color: var(--color-primario-blanco);
    text-align: center;
    font-size: 1.2em;
    background: transparent;
    border-radius: 30px;
    outline: none;
    border: 1px solid var(--color-primario-blanco);
    cursor: pointer;
    font-weight: 600;
    transition: .5s;
    width: 45%;
    height: 50px;
    z-index: 2;
}
.botones:hover{
    background: transparent;
    color: var(--color-primario-blanco);
    font-size: 1.4em;
}
#btnComprar{
    background: var(--color-primario-blanco);
    color: var(--color-secundario-negro);
    font-size: 1;
    margin-right: 3%;
}
.boton p{
    text-align: center;
    padding-left: 37%;
    padding-top: 3%;
}

#btnComprar:hover{
    background: transparent;
    color: var(--color-primario-blanco);
    font-size: 1.3em;
}
@font-face {
    font-family: 'Roasted';
    src: url(fonts/Roasted.ttf);
}

/*---------------------------Efecto Nube -----------------------------------*/
.absolute-bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}
.fog{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
.fog-container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}
.fog-img{
    position: absolute;
    height: 100%;
    width: 300%;
    z-index: 2;
}
.fog-img-first{
    background: url(img/fog-1.png);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    height: 100%;
    animation: marque 60s linear infinite;
}
.fog-img-second{
    background: url(img/fog-2.png);
    background-repeat: repeat-x;
    background-size: contain;
    height: 100%;
    background-position: center;
    animation: marque 30s linear infinite;
}
@keyframes marque {
    0%{
        transform: translate3d(0,0,0);
    }
    100%{
        transform: translate3d(-150vw, 0, 0);
        -webkit-transform: translate3d(-150vw, 0, 0);
        -moz-transform: translate3d(-150vw, 0, 0);
        -ms-transform: translate3d(-150vw, 0, 0);
        -o-transform: translate3d(-150vw, 0, 0);
}
}

/*--RESPONSIVE FIREFOX--*/
@media (min-width: 440px) and (max-width: 999px) {
    #fondo{
        margin-top: 160px;
    }
    #fondo h5{
        font-size: 13px;
    }
    #fondo h1{
        font-size: 60px;
    }
    #fondo p{
        font-size: 16px;
        width: 87%;
    }
    #fondo .iconosIn{
        margin-left: 61px;
    }
    #fondo .boton{
        width: 388px;
        font-size: 13px;
        margin-left: 5px;
    }
    #fondo .botones{
        text-align: center;
    }
    section div{
        padding-left: 37px;
    }
    .fog{
        height: 117.3%;
    }
    .fog .fog-container{
        width: 100%;
    }
    .fog-img-second{
        background-size: cover;
    }
    .fog-img-first{
        background-size: cover;
    }
    .botones{
    width: 32%;
    }
    footer>ul{
            margin-top: 240px;
    }
}

/*RESPONSIVE CHROME*/
@media (min-width: 527px) and (max-width: 999px) {
    #fondo{
        padding-top: 150px;
        width: 100%;
    }
    #fondo h5{
        font-size: 13px;
    }
    #fondo h1{
        font-size: 70px;
        font-weight: 200;
    }
    #fondo p{
        font-size: 19px;
        width: 90%;
    }
    #fondo .iconosIn{
        margin-left: 61px;
    }
    #fondo .boton{
        width: 388px;
        font-size: 13px;
        margin-left: 5px;
    }
    #fondo .botones{
        text-align: center;
    }
    section div{
        padding-left: 40px;
    }
    .fog .fog-container{
        width: 100%;
    }
    .fog-img-second{
        background-size: cover;
    }
    .fog-img-first{
        background-size: cover;
    }
    .botones{
    width: 34%;
    }
    .header-btn{
        margin-right: 30px;
    }
    .logo{
        font-size: 40px;
    }
    footer{
        margin-top: 100px;
        text-align: center;
    }
    
}

/*---------------------------Footer-----------------------------------*/
body{
    flex-direction: column;
}
a{
    text-decoration: none;
}
footer{
    position: relative;
    text-align: center;
    text-transform: uppercase; /*la primera letra mayuscula*/
    padding-top: 20px;
    margin-top: 10px;
    z-index: 10001;
}
footer li{
    list-style: none;
    margin: 10px;
    display: inline-block;
    padding-bottom: 23px;
}
.icons{
    width: 100%;
    height: 100%;
    margin-bottom: -70px;
}
.icons a{
    background: transparent;
    color: var(--color-primario-blanco);
    padding: 14px;
    font-size: 20px;
    border-radius: 100%;
    display: flex;
}
.icons a:hover{
    color: var(--color-primario-blanco);
    background: var(--color-primario-blanco);
    color: var(--color-icon-footer);
    transition: 0.5s;
}
.footer-copyright{
    background-color: transparent;
    color: var(--color-primario-blanco);
    padding: 15px;
    margin-top: 20px;
    text-transform: capitalize;
}

